.animationContainer {
    width: 100vw;
    height: 936.59px;
    position: absolute;
    top: 786px;
}

.animationContainer1 {
    width: 100vw;
    height: 936.59px;
    position: absolute;
    top: 786px;
}

.mainAnimationItemContainer{
    width: 100vw;
    height: 936.59px;
    position: absolute;
    top: 786px;
    z-index: 0;
}
.animationTextHeading {
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    color: black;
}

.highlightRed {
    color: #EE1B30;
}

.animationTextContainer {
    width: 788.82px;
    height: 120px;
    position: absolute;
    right: 90px;
    text-align: right;

}


.animationItem1 {
    background-image: url('/images/card1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 60px;
}

.animationItem2 {
    background-image: url('/images/card2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 95px;
}

.animationItem3 {
    background-image: url('/images/card3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 130px;
}

.animationItem4 {
    background-image: url('/images/card4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 165px;

}

.mainAnimationItem{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url('/images/card6.jpeg');
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 200px;
    left:560px;
    transition: background-image 0.5s ease-in-out;
   z-index: 0;
}

.animationItem5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url('/images/card6.jpeg');
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 200px;
    transition: background-image 0.5s ease-in-out;
    visibility: hidden;
}



.animationItem6 {
    background-image: url('/images/card5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 235px;
    z-index: 1;
}

.animationItem7 {
    background-image: url('/images/card7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 270px;
    z-index: 2;
}

.animationItem8 {
    background-image: url('/images/card8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 305px;
    z-index: 3;
}

.animationItem9 {
    background-image: url('/images/card9.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 340px;
    z-index: 4;
}

.animationItem10 {
    background-image: url('/images/card10.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width:21.875vw;
    height:60vh;
    border-radius: 29.38px;
    transform: skewY(-10deg);
    position: absolute;
    top: 375px;
    z-index: 5;
}

.animationItems {
    width: 100vw;
}