.footerContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #011740;
    width: 100vw;
    height: 969.75px;
    top: 3500px;
    overflow: hidden;
}

.vector {
    background-image: url('/images/Vector.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 1120.5px;
    height: 1120.5px;
    top: 200px;
    border: 0.81px 0px 0px 0px;

}

.footerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 708.75px;
    height: 234.82px;
    top: 150px;

}

.footerHeading {
    font-size: 39px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: center;
    color: #fff;
}

.footerSubHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footerCTAButton {
    width: 132px;
    height: 42px;
    margin-top: 30px;
    bottom: 0px;
    border-radius: 39px;
    color: blue;
    background-color: white;
    border: none;
}

.footerContactComponent {
    position: absolute;
    width: 85vw;
    height: 524.25px;
    bottom: 0px;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -10px 40px rgba(255, 255, 255, 0.2);
}

.footerEndHeader {
    display: flex;
    justify-content: space-between;
}

.footerBrandLogo {
    background-image: url('/images/webo_logo_ai-01\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 211.76px;
    height: 42.21px;
    margin: 30px 0px 0px 50px;
}

.footerSocials {
    background-image: url('/images/image\ 77.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 191.25px;
    height: 75.75px;
    margin: 10px 50px 0px 0px;
}

.thinLine,
.thinLine1 {
    width: 92%;
    position: relative;
    left: 4%
}

.thinLine1 {
    margin-top: 50px;
}

.footerContactLinksContainer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 30px;
}

.footerContactsOuterContainer {
    display: flex;
    justify-content: space-around;
    overflow: hidden;

}

.linkItems {
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 29.25px;
    letter-spacing: 1px;
    color: black;
}

.linkItemsHeading {
    list-style: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 29.25px;
    letter-spacing: 1px;
    color: black;
}

.linkItems input {
    width: 384px;
    height: 44.25px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
}

.footerEndTrademark {
    margin: 30px 0 0 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: black;
}

.submitButton {
    color: white;
    background-color: #003DB8;
    width: 10vw;
    height: 42px;
    border-radius: 39px;
    margin-top: 20px;
    border: none;
}